# Unity project caches
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# LyumaShader outputs created by the editor tools
GeneratedAnimations/
Waifu2d/Generated/
release/

# Unity may regenerate this file locally; do not publish it
LICENSE.meta
